---
# Bad ansible! This playbook is an example of poor/bad practices!
# Bad practices may include:
#
#   Poor formatting and structure
#   Poor use of YAML - but good enough to parse
#   Inconsistent style
#   Incorrect use of modules
#   Poor module choice
#   Unclear names
#   Hard coding / poor use of variables
#   Roles - what are roles?
#   Bare variables
#   No use of handlers
- include: configuration.yml
- include: deploy-haproxy.yml
- include: deploy-tomcat.yml

#- name: deploy postgres
#  hosts: apps
#  gather_facts: false
#  become: true
#  hosts: appdbs
#  tasks:
#
#  - name: install postgres
#    yum:
#      name: postgresql-server
#      state: latest
#  - name: enable apache at boot
#    service:
#      name: postgresql
#      enabled: yes
#  - name: tell user to finish setting up postgres
#    debug:
#      msg: "Either uncomment the postgres setup or manually login and initialize"
#
# # only run the next 2 tasks once!
# # - name: initilize postgres
# #   command: postgresql-setup initdb
# # - name: initilize postgres some more
# #   command: chkconfig postgresql on
#  - name: start postgres
#    service:
#      name: postgresql.service
#      state: started

- name: deploy postgres
  become: true
  hosts: appdbs
  roles:
    - { role: geerlingguy.postgresql }
- include: deploy-apache.yml
